#right{
	text-align: left;
}
#left{
	font-weight: bold;
	vertical-align: text-top;
}
body{
	text-align: center;	
	background-color: #f0dbbfd5;
	margin-left: 10%;
	margin-right: 10%;
}
li{
	line-height: 1.6;
}
#content{
	font-family: Arial;
	width: 100%;
} 
td{
	padding: 8px;
	border: 15px;
	font-size: large;
}  
tr{
	background-color: #f5eed6;
}